/* ------------------------
    1.2.3 Variable
-------------------------*/

//Primary Color
$primary-color_1: #2E3591;
$primary-color_2: #525EFF;
$primary-color_3: #7A84FF;

//Grayscale
$grayscale-900: #121127;
$grayscale-800: #201F37;
$grayscale-700: #383751;
$grayscale-600: #4C4B63;
$grayscale-500: #6C6B80;
$grayscale-400: #9D9CAF;
$grayscale-300: #D1D1DB;
$grayscale-200: #E5E5EB;
$grayscale-100: #F3F3F6;
$grayscale-50: #F9F9FB;
$grayscale-0: #FFFFFF;

//White Opacity
$white-opacity-72: rgba(255, 255, 255, 0.72);
$white-opacity-56: rgba(255, 255, 255, 0.56);
$white-opacity-48: rgba(255, 255, 255, 0.48);
$white-opacity-40: rgba(255, 255, 255, 0.40);
$white-opacity-32: rgba(255, 255, 255, 0.32);
$white-opacity-24: rgba(255, 255, 255, 0.24);
$white-opacity-20: rgba(255, 255, 255, 0.20);
$white-opacity-16: rgba(255, 255, 255, 0.16);
$white-opacity-12: rgba(255, 255, 255, 0.12);
$white-opacity-8: rgba(255, 255, 255, 0.08);
$white-opacity-4: rgba(255, 255, 255, 0.04);


//Gray Opacity
$gray-opacity-72: rgba(18, 17, 39, 0.72);
$gray-opacity-56: rgba(18, 17, 39, 0.56);
$gray-opacity-48: rgba(18, 17, 39, 0.48);
$gray-opacity-40: rgba(18, 17, 39, 0.40);
$gray-opacity-32: rgba(18, 17, 39, 0.32);
$gray-opacity-24: rgba(18, 17, 39, 0.24);
$gray-opacity-20: rgba(18, 17, 39, 0.20);
$gray-opacity-16: rgba(18, 17, 39, 0.16);
$gray-opacity-12: rgba(18, 17, 39, 0.12);
$gray-opacity-8: rgba(18, 17, 39, 0.08);
$gray-opacity-4: rgba(18, 17, 39, 0.04);
