footer{
    background: #1A7F79;
    color: #fff;
    position: relative;
    margin-top: 100px!important;
    padding-top: 250px;
    padding-bottom: 64px;
    @media (min-width:768px) {
        padding-top: 200px;
    }
    @media (min-width:1024px) {
        padding-top: 160px;
    }
    @media (min-width:1440px) {
        padding-top: 150px;
    }
    .footer-newletter{
        position: absolute;
        gap: 24px;
        justify-content: space-between;
        align-items: center;
        display: flex;
        top: -64px;
        background: #00ccc0;
        border-radius: 20px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        flex-direction: column;
        padding: 16px;
        width: calc(100% - 32px);
        @media (min-width:1024px) {
            flex-direction: row;
            padding: 32px;
            width: 60%;
        }

        .wp-block-group{
            width: 100%;
            text-align: center;
            margin-top: 0!important;
            @media (min-width:1024px) {
                &:first-child{
                    width: 55%;
                }
                width: 45%;
                text-align: left;
            }
            
            .heading-ft-newletter{
                font-weight: 700;
                font-size: 22px;
                line-height: 28px;
            }
            .content-ft-newletter{
                font-size: 16px;
                margin-top: 16px;
            }
            .wp-block-contact-form-7-contact-form-selector{
                p{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    input.wpcf7-email{
                        line-height: 24px;
                        padding: 10px;
                        border-color: white;
                        outline: none;
                        box-shadow: none;
                        border-radius: 6px;
                        border-width: 0;
                        box-sizing: border-box;
                        width: 100%;
                    }
                    input.wpcf7-submit{
                        padding: 10px 16px;
                        line-height: 24px;
                        font-weight: 600;
                        background: #fff;
                        border: 0;
                        border-radius: 6px;
                        cursor: pointer;
                        &:hover{
                            background-color: #1A7F79;
                            color: #fff;
                        }
                    }
                    .wpcf7-spinner{
                        position: absolute;
                        bottom: 20px;
                    }
                    
                    .wpcf7-not-valid-tip{
                        position: absolute;
                        color: #000000;
                        font-size: 15px;
                        padding: 10px 0;
                    }

                }
                .wpcf7-response-output{
                    display: none!important;
                }
            }
        }
    }
    .footer-main{
        display: flex;
        max-width: 100%;
        width: 100%;
        justify-content: space-between;
        align-items: flex-start;
        gap: 48px;
        flex-direction: column;
        @media (min-width:1024px) {
            flex-direction: row;
        }
        >.wp-block-group{
            margin-top: 0;
            .heading-section-ft{
                font-size: 22px;
                font-weight: 700;
                position: relative;
                padding: 0 0 16px 0;
                &::after{
                    position: absolute;
                    content: '';
                    width: 100%;
                    border-top: 2px dotted #ffffff;
                    bottom: 0;
                    left: 0;
                }
            }
            p{
                margin-top: 10px;
            }
            > ul{
                padding-left: 16px;
                @media (min-width:1024px) {
                    padding-left: 32px;
                }
            }
            .menu-footer{
                margin-top: 10px;
                ul{
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    row-gap: 10px;
                    li{
                        width: calc((100% - 24px )/2);
                        a{
                            text-decoration: none;
                            transition: 0.7s;
                            font-weight: 500;
                            &:hover{
                                color: #FF4958;  
                            }                         
                        }
                    }
                }
            }
        }
    }
    .footer-bottom{
        max-width: 100%;
        width: 100%;
        margin: inherit;
        border-top: 2px solid #73F2EB;
        margin-top: 24px;
        padding-top: 24px;
        .heading-ft-bottom{
            font-weight: 700;
            font-size: 17px;
            line-height: 21px;
        }
        .content-ft-bottom{
            font-size: 16px;
            margin-top: 10px;
        }
    }
}