.page-template-default{
    .breadcrumbs-section{
        margin-bottom: 24px;
        .yoast-breadcrumbs{
            span{
                a{
                    font-size: 14px;
                    font-weight: 300;
                    text-decoration: none;
                    color: #1a7f79;
                }
            }
            .breadcrumb_last{
                font-size: 14px;
                font-weight: 300;
            }
        }
    }
    .page-information{
        padding-bottom: 16px;
        margin-bottom: 16px;
        border-bottom: 2px solid #c0c0c0;
        .page-title{
            font-size: 40px;
            line-height: 48px;
            padding: 0 0 16px;
            font-weight: 700;
            margin: 0!important;
        }
        .information-page{
            display: flex;
            gap: 24px;
            align-items: center;
            .wp-block-post-author{
                margin: 0!important;
                .wp-block-post-author__avatar{
                    display: none;
                }
                .wp-block-post-author__content{
                    p{
                        font-size: 15px;
                        font-weight: 500;
                        text-transform: capitalize;
                    }
                }
            }
            .wp-block-post-date{
                margin: 0!important;
                font-size: 14px;
                time{
                    font-size: 14px;
                    font-weight: 300;
                }
            }
        }
    }
    .entry-content{
        figure.wp-block-image{
            margin: 16px 0!important;
        }
        h1, h2, h3,h4 ,h5,h6{
            padding: 16px 0;
        }
        p {
            padding: 5px 0;
        }
        h2 {
            font-size: 36px;
            line-height: 1.2em;
            @media (min-width: 1024px) {
                font-size: 42px;
            }
        }
        
        h3 {
            font-size: 24px;
            line-height: 1.2em;
            @media (min-width: 1024px) {
                font-size: 36px;
            }
        }
        
        h4 {
            font-size: 20px;
            line-height: 1.2em;
            @media (min-width: 1024px) {
                font-size: 28px;
            }
        }
        
        h5 {
            font-size: 16px;
            line-height: 1.2em;
            @media (min-width: 1024px) {
                font-size: 20px;
            }
        }
        
        h6 {
            font-size: 14px;
            line-height: 1.2em;
        }
        input,
        textarea,
        select {
            outline: none;
            font-family: inherit;

        }
        a{
            text-decoration: none;
            font-weight: 600;
        }
    }
}